* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1000px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-transform: none;

  color: #000;
  background-color: #fff;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

a {
  text-decoration: none;
/*  text-transform: uppercase;*/
}

ul {
  list-style: none;
/*  font-size: 0;*/
}

li {
  display: inline-block;
  vertical-align: top;
}

label, input, textarea {
  display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 100px;
  width: 500px;
}

.mail {
  text-align: center;
  border: 1px solid #888;
  border-radius: 10px;

}

.mail-title {
  display: inline-block;
  vertical-align: top;
  margin-top: -18px;
  padding: 0 15px;
  padding-bottom: 2px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  border: 1px solid #888;
  border-radius: 10px;
}

.mail-form {
  padding: 20px 0;
}

.mail-form-label {
  padding-bottom: 2px;
}

.mail-form-input,
.mail-form-textarea,
.mail-form-btn {
  margin: 0 auto;
}

.mail-form-input,
.mail-form-textarea {
  font-size: 12px;
  line-height: 18px;
}

.mail-form-input {
  margin-bottom: 10px;
  padding: 2px 5px;
  width: 50%;
  background-color: #fff;
  background-image: linear-gradient(to top, #fff, #ddd);
  border: 1px solid #888;
  border-radius: 10px;
}

.mail-form-textarea {
  margin-bottom: 30px;
  padding: 2px 5px;
  width: 80%;
  border: 1px solid #888;
  border-radius: 10px;
  resize: none;
}

.mail-form-btn {
  padding: 2px 5px;
  width: 30%;
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #ddd);
}
